{% extends "::base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Coach:Add{% endblock %}

{% block body %}
<h1>Welcome to the Coach:Add page</h1>
{{ form(form) }}
{% endblock %}
