{% extends "::base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Coach:Modify{% endblock %}

{% block body %}
<h1>Welcome to the Coach:Modify page</h1>
{{ form(form) }}
{% endblock %}
