{% extends "::base.html.twig" %}

{% block title %}FantasyFootballTournamentAdminBundle:Game:view{% endblock %}

{% block body %}
<h1>Welcome to the Game:view page</h1>
<a href="{{ path('fantasy_football_tournament_admin_main',{'edition':edition} )  }}"class="btn btn-primary" role="button"  >Administration</a>
{% endblock %}
