{% extends "::base.html.twig" %}

{% block title %}Modification de la triplette {{coachTeam.name}}{% endblock %}

{% block body %}
<h2>Modification de la triplette {{coachTeam.name}}</h2>
{{ form(form) }}
{% endblock %}
